@page

@section Styles {
    <link rel="stylesheet" href="~/css/Chat.css" />
}

@model LicentaUI.Pages.ChatModel
@{
}

<h1>Chat</h1>
<div class="grid-container">
    <div class="item1">Name</div>
    <div class="item2">

        @foreach (var item in Model.UserDetails)
        {
            <div>
                <img src="@item.ProfilePicture" alt="Profile picture" width="100" height="100" />
                <span>@item.UserName</span>
            </div>
        }
        @*<table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetails[0].ProfilePicture)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetails[0].UserName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfilePicture)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
    </div>
    <div class="item3">
        Message
    </div>
    <div class="item4">
        <input id="message" name="message">
        <button id="submit" type="submit">Send</button>
    </div>
</div>