@page

@section Styles {
    <link rel="stylesheet" href="~/css/Home.css" />
}

@model LicentaUI.Pages.HomeModel
@{
}

<h1>List of what we have to offer you :)</h1>
<div>
    <table class="tables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Books[0].Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table class="tables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Films[0].Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Films)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table class="tables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Series[0].Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Series)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h1>Your appointments!</h1>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Appointments[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointments[0].TitleBook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointments[0].TitleFilm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointments[0].TitleSeries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointments[0].IdGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Appointments[0].Location)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleFilm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleSeries)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h1>You want to see or read this: </h1>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewBooks[0].Title)>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReviewBooks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewFilms[0].Title)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReviewFilms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewSeries[0].Title)>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReviewSeries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h1>But first finish this: </h1>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewBooks[0].Title)>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReviewBooks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewFilms[0].Title)>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReviewFilms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewSeries[0].Title)>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ReviewSeries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>